@model MVC.Models.Product

<div>
    <h3>Product Information(Partial View)</h3>
    <ul>
        <li><strong>ID:</strong> @Model.Id</li>
        <li><strong>Name:</strong> @Model.Name</li>
        <li><strong>Price:</strong> $@Model.Price</li>
    </ul>
</div>