@{
    ViewData["Title"] = "Product Details (Loosely Typed View)";
}


<h2>Product Details (Loosely Typed View)</h2>
<ul>
    <li><strong>Name:</strong> @ViewBag.ProductName</li>
    <li><strong>Price:</strong> $@ViewData["ProductPrice"]</li>
</ul>

